vendor/*
tools/**/vendor/*
tools/**/bin/*
coverage/*
.box_dump/
/deptrac.phar
/deptrac.phar.asc
phpunit.xml
box.json
deptrac.version
junit-report.xml
.php-cs-fixer.php
infection.log
.cache/
!.cache/.keep
.idea
build/deptrac-build
.deptrac.cache
deptrac-report.xml
tests/Supportive/DependencyInjection/.deptrac.cache
tests/Supportive/OutputFormatter/data/graphviz.dot
