{
  "output": "build/deptrac-build/deptrac.phar",
  "files": [
    "config/cache.php",
    "config/services.php",
    "config/deptrac_template.yaml"
  ],
  "compression": "GZ",
  "main": "bin/deptrac",
  "git-version": "git-version",
  "compactors" : [
      "KevinGH\\Box\\Compactor\\PhpScoper"
  ],
  "banner": false,
  "alias": "deptrac",
  "timestamp": "1711457183"
}
